<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="MangoslabCoLtd" value="https://pkgs.dev.azure.com/MANGOSLABCoLtd/_packaging/Feed/nuget/v3/index.json"/>
	</packageSources>
	<packageSourceCredentials>
		<MangoslabCoLtd>
			<add key="Username" value="%AzureDevOpsUsername%"/>
			<add key="ClearTextPassword" value="%AzureDevOpsPAT%"/>
		</MangoslabCoLtd>
	</packageSourceCredentials>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>
